body{
    font-size: 18px;

    background-color: hsl(32,100%,97%);
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
}
nav{
    margin-top: 2%;
    padding: 5%;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: hsl(45,6%,14%);
    padding: 1em;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: hsl(349,83%,57%);
}

.container .row .col-lg h1{
    font-weight: 500;
    font-size: 3.5em;
    color: hsl(40,5%,25%);
}
.container .row .col-lg p{
    font-weight: 400;
    font-size: 1.5em;
    color: hsl(40,5%,25%);
}

.container-2 .row .col-lg .row{
    padding: 4% 0;
    font-size: 0.75em;
}
.row .col-lg-3 p a{
    color: hsl(45,6%,14%);
    text-decoration: none;
}
.row .col-lg-3 p a:hover{
    color: hsl(349,83%,57%);
}

footer{
    text-align: center;
    padding: 10% 0;
    font-size: 0.75em;

}
footer .row .col-lg p a{
    color: hsl(45,6%,14%);
    text-decoration: underline;
}
footer .row .col-lg p a:hover{
    color: hsl(349,83%,57%);
}

